---
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." description="TODO" keywords="TODO">
  <main
    class="w-full flex justify-center items-center py-24 h-svh min-h-[680px] relative md:bg-transparent bg-primary"
  >
    <Form client:load />
    <div
      class="bg-primary clip w-full h-full absolute top-0 z-20 md:block hidden"
    >
    </div>
  </main>
</Layout>
