---
interface Props {
  categoryText: string;
  image: string;
}

const { categoryText, image } = Astro.props;
---

<article
  class="w-1/4 bg-white rounded-md flex items-center gap-x-3 p-2 hover:bg-gray-300 transition-colors h-20 relative z-30 shadow-2xl cursor-pointer"
>
  <img
    src={image}
    alt="Plato ilustrativo para la empresa"
    class="h-full object-cover rounded-md w-1/4"
  />
  <h3 class="text-lg font-medium">{categoryText}</h3>
</article>
