---
interface Props {
  categoryText: string;
  image: string;
  href: string;
}

const { categoryText, image, href } = Astro.props;
---

<a
  class="lg:w-1/4 min-[930px]:w-1/3 w-full bg-white rounded-md flex items-center gap-x-3 p-2 hover:bg-gray-300 transition-colors h-20 relative z-30 shadow-2xl cursor-pointer"
  href={href}
>
  <img
    src={image}
    alt="Plato ilustrativo para la empresa"
    class="w-[64px] h-[64px] object-cover rounded-md"
  />
  <h3 class="text-lg font-medium">{categoryText}</h3>
</a>
