---

---

<header
  class="w-full flex justify-between px-10 md:px-20 bg-gradient-to-b from-black/70 to-transparent items-center py-3 z-50 fixed top-0"
>
  <a href="/" class="text-4xl text-white rubik">LOGO</a>
  <nav class="sm:block hidden">
    <ul class="flex items-center">
      <a
        href="/"
        class="text-white rubik text-lg mx-5 hover:text-primary transition-colors"
        >Inicio</a
      >
      <a
        href="/menu"
        class="text-white rubik text-lg mx-5 hover:text-primary transition-colors"
        >Menu</a
      >
      <a
        href="/pedir"
        class="text-white rubik text-lg mx-5 hover:text-primary transition-colors"
        >Pedir</a
      >
      <a
        href="/reservar"
        class="border-1 border border-primary rounded-md text-primary text-lg mx-5 hover:bg-primary px-4 py-2 hover:text-white rubik transition-colors duration-300"
      >
        Reservar mesa
      </a>
    </ul>
  </nav>
</header>
