---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<article
  class="w-full flex flex-col justify-center items-center text-center gap-y-3 p-4 border border-1 border-gray-300 rounded-md max-w-[400px]"
>
  <div class="icon bg-primary rounded-full p-3 w-24 h-24">
    <slot name="icon" />
  </div>
  <h3 class="text-2xl font-medium">{title}</h3>
  <p>{description}</p>
</article>
