---
interface Props {
  title: string;
  sectionClass?: string;
}

const { title, sectionClass } = Astro.props;
---

<section
  class={`lg:px-20 px-10 py-10 w-full flex flex-col items-center gap-y-4 rubik ${sectionClass}`}
>
  <h2 class="text-4xl text-center">{title}</h2>
  <slot />
</section>
